---
// src/components/Nav.astro
---

<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand logo" href="/">
        <img src="/assets/img/logo-sedipro.png" alt="Logo-SediproUNT" />
      </a>
      
      <!-- Resto del nav -->
    </div>
  </nav>
  
  <style>
    .navbar {
      /* Estilos específicos */
    }
  </style>