// src/components/NavInfo.astro
---
---

<nav class="navbar navbar-expand-lg d-none d-lg-block" id="templatemo_nav_top">
    <div class="container">
        <div class="w-100 d-flex justify-content-between">
            <div id="nav-info-icons">
                <i class="fa fa-envelope mx-3"></i>
                <a class="navbar-sm-brand text-decoration-none" href="mailto:sediprount@unitru.edu.pe">sediprount@unitru.edu.pe</a>
                <i class="fa fa-phone-alt mx-3"></i>
                <a class="navbar-sm-brand text-decoration-none" href="tel:51 970 153 565">+51 970 153 565</a>
            </div>
            <div id="nav-social-icons">
                <a href="https://www.facebook.com/SediproUNT" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a href="https://www.instagram.com/sediprount/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a href="https://www.youtube.com/@SEDIPROUNT" target="_blank"><i class="fab fa-youtube fa-sm fa-fw me-2"></i></a>
                <a href="https://www.linkedin.com/company/sediprount/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>